.login-container {
  display: inline-flex;
  flex-flow: column;
  margin: 15% auto;
  padding: 50px 10px 0px 10px;
  flex-basis: 40%;
  align-items: center;
  background-color: #e4e9ed;
  border-radius: 8px;
}

.field {
  color: red;
}
